:root {
  font-family: "DM Sans", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
}

img {
  max-width: 100%;
  display: block;
}

h1 {
  position: relative;
}
